Body{
    background-color: #8F8EBF;
    display: flex;
    flex-direction: column;
    margin: 3rem 10rem 3rem 10rem;
    
}
.Products__Container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}   